<!-- Body -->
<div style="font-family: 'Arial', sans-serif; background-color: #f8f8f8; color: #333; margin: 0; padding: 0; text-align: center;">
    <div style="padding: 20px; text-align: center;">
        <!-- Quiz ID Information at the Top -->
        <div style="color: #888; font-size: 12px; margin-bottom: 10px;">
            <p style="margin: 0;"><strong>Quiz Information:</strong></p>
            <p style="margin: 0;">Quiz ID: {{quiz_id}}</p>
        </div>

        <div style="font-size: 40px; font-weight: bold; margin-bottom: 10px;">
            {{score}}%
        </div>
        <p style="font-size: 20px; font-weight: bold;">
            Hello {{name}},
        </p>
        <p style="font-size: 24px; font-weight: bold; margin-bottom: 10px;">
            {{message.title}}
        </p>
        <p style="font-size: 16px;">
            {{message.note}}
        </p>
        <p style="font-size: 18px; font-weight: bold;">
            Total Score: {{total_score}} / {{total_points}}
        </p>
        <p style="font-size: 14px; margin-top: 20px; text-align: left;">
            We hope this email finds you well. We are excited to share the results of your recent quiz with you. Your dedication to your studies is commendable, and we believe that understanding your academic progress is essential for your continuous growth.

            Analyzing your quiz performance allows us to provide personalized support, identify areas for improvement, and celebrate your achievements. Your total score of {{total_score}} out of {{total_marks}} reflects your commitment to excellence.

            As you review the details, consider the feedback provided and use it as a tool for self-improvement. If you have any questions or need further clarification on specific topics, please don't hesitate to reach out to your instructors or academic advisors.

            Additionally, you can search for the quiz on our site to access more details about your performance.

            We encourage you to maintain this positive momentum and continue to engage actively in your studies. Remember, every challenge you face is an opportunity to learn and grow.

            Thank you for being a valued member of our academic community. If you have any concerns or need additional support, our doors are always open. Wishing you continued success in your academic journey!
        </p>
    </div>
</div>
